footer {
    background: white;
    padding: 20px;
}

#footer_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

#footer_items span,
#footer_items p,
#footer_items a {
    margin: 0;
}

.social-media-buttons {
    display: flex;
    gap: 15px; /* Espaço entre os ícones */
}

.social-media-buttons a {
    color: #654321; /* Cor dos ícones, use a cor da sua marca */
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.social-media-buttons a:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}