@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    /*Mantémositensnasextremidades*/align-items: center;
    padding: 15px;
    z-index: 1000;
    transform: translateY(-100%);
    /*Ocultaanavbar,movendo-aparacima*/transition: transform 0.5s ease-in-out;
    /*Adicionaumatransiçãosuave*/box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

nav.show {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.logo h1 {
    font-size: 1.3rem; /* Para combinar com o tamanho da fonte que você já tem na nav */
    font-weight: bold; /* Deixa o texto em negrito */
    color: #DEDEDE; /* Define a cor do texto para branco */
    margin: 20px; /* Remove margens padrão do h1 para um alinhamento perfeito */
}

.menu {
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: 0.3s;
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
    flex: 1;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.menu li a {
    text-decoration: none;
    color: #DEDEDE;
    font-weight: 500;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.menu li a:hover {
    color: #654321;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-item.active a {
    color: #1abc9c;
}

#saudacao {
    padding: 20px 0;
    text-align: center;
    background-color: #f8f8f8; /* Uma cor de fundo suave para destacar */
}

.saudacao-texto {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}


#inicio {
  padding: 0px 0px;
  text-align: end;
}

#contato {
    background: black;
    text-decoration: #DEDEDE;
    max-width: auto;
}

#contato h1, #contato p { /* Aplica estilos para ambos h1 e p na seção */
    color: #DEDEDE;
    margin-bottom: 20px;
}
#contato h1 {
    font-size: 1.8em;
}

.section-title{
  color: #DEDEDE;
  text-align: center;
  padding-bottom: 20px;
}

.formulario-texto{
  color: #DEDEDE;
  text-align: center;
  padding-bottom: 20px;
}

section {
    height: auto;
    padding: 60px 20px;
    margin-top: 0%;
    margin-left: 0%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

form input,
form textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

form button {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  /*ocupatodaalarguradisponível*/box-sizing: border-box;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

form button {
  background: #333;
  color: #DEDEDE;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

form button:hover {
  background: #654321;
}

.hamburguer {
      display: none;
      flex-direction: column;
      cursor: pointer;
      gap: 5px;
    }

    .hamburguer span {
      width: 25px;
      height: 3px;
      background: #DEDEDE;
    }

    /* Estilo para os ícones do portfólio */
    .descricao-card a i {
        font-size: 6rem;
        /* Aumenta o tamanho do ícone */
        color: #333;
        /* Cor do ícone */
        transition: color 0.3s ease;
        /* Adiciona uma transição suave para a mudança de cor */
    }

    /* Efeito ao passar o mouse */
    .descricao-card a:hover i {
        color: #00bfff;
        /* Muda a cor ao passar o mouse, para dar destaque */
    }



    @media (max-width: 768px) {
      .menu {
        display: none;
        /*escondeomenupadrão*/flex-direction: column;
        background: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

      .menu.active {
        display: flex; /* aparece quando clica no hambúrguer */
      }

      .hamburguer {
        display: flex; /* mostra no mobile */
      }

      .btn-contato {
        width: 100%; /* botão ocupa largura dentro do menu */
        text-align: center;
      }
      .cards-container {
    grid-template-columns: 1fr; /* apenas 1 coluna no mobile */
  }

  @media (max-width: 768px) {
    nav {
        flex-direction: row; /* Empilha os itens (logo e menu) verticalmente */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    .logo {
        margin-bottom: 0px; /* Adiciona um pequeno espaçamento entre o logo e o menu */
    }  
  }
}